@model IEnumerable<VoeMais.Models.Poltrona>

@{
    ViewData["Title"] = "Poltronas";
}

<h2>Poltronas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova poltrona</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Voo</th>
            <th>Nº Poltrona</th>
            <th>Tipo</th>
            <th>Lado</th>
            <th>Ocupada?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdVoo</td>
                <td>@item.NumeroPoltrona</td>
                <td>@item.TipoPoltrona</td>
                <td>@item.Lado</td>
                <td>@(item.Ocupada ? "Sim" : "Não")</td>
                <td>
                    <a asp-action="Details"
                       asp-route-idVoo="@item.IdVoo"
                       asp-route-numeroPoltrona="@item.NumeroPoltrona"
                       class="btn btn-sm btn-info">Detalhes</a>

                    <a asp-action="Edit"
                       asp-route-idVoo="@item.IdVoo"
                       asp-route-numeroPoltrona="@item.NumeroPoltrona"
                       class="btn btn-sm btn-warning">Editar</a>

                    <a asp-action="Delete"
                       asp-route-idVoo="@item.IdVoo"
                       asp-route-numeroPoltrona="@item.NumeroPoltrona"
                       class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
