@model VoeMais.Models.Passageiro
@{
    ViewData["Title"] = "Detalhes Passageiro";
}
<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.IdPassageiro</dd>

    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>

    <dt class="col-sm-2">Nascimento</dt>
    <dd class="col-sm-10">@Model.DataNascimento</dd>

    <dt class="col-sm-2">Sexo</dt>
    <dd class="col-sm-10">@Model.Sexo</dd>

    <dt class="col-sm-2">CPF</dt>
    <dd class="col-sm-10">@Model.Cpf</dd>

    <dt class="col-sm-2">RG</dt>
    <dd class="col-sm-10">@Model.Rg</dd>

    <dt class="col-sm-2">Estado Civil</dt>
    <dd class="col-sm-10">@Model.EstadoCivil</dd>

    <dt class="col-sm-2">Nacionalidade</dt>
    <dd class="col-sm-10">@Model.Nacionalidade</dd>

    <dt class="col-sm-2">Mala de Mão</dt>
    <dd class="col-sm-10">@Model.MalaDeMao</dd>

    <dt class="col-sm-2">Mala Despachada</dt>
    <dd class="col-sm-10">@Model.MalaParaDespache</dd>

    <dt class="col-sm-2">Preferencial</dt>
    <dd class="col-sm-10">@Model.Preferencial</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Telefone</dt>
    <dd class="col-sm-10">@Model.Telefone</dd>


</dl>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
