@model IEnumerable<VoeMais.Models.Passageiro>
@{
    ViewData["Title"] = "Passageiro - Lista";
}
<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create" class="btn btn-primary">Novo</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdPassageiro</th>
            <th>IdPassageiro</th>
            <th>Nome</th>
            <th>DataNascimento</th>
            <th>Sexo</th>
            <th>Cpf</th>
            <th>Rg</th>
            <th>EstadoCivil</th>
            <th>Nacionalidade</th>
            <th>MalaDeMao</th>
            <th>MalaParaDespache</th>
            <th>Preferencial</th>
            <th>Email</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.IdPassageiro</td>
            <td>@item.IdPassageiro</td>
            <td>@item.Nome</td>
            <td>@item.DataNascimento</td>
            <td>@item.Sexo</td>
            <td>@item.Cpf</td>
            <td>@item.Rg</td>
            <td>@item.EstadoCivil</td>
            <td>@item.Nacionalidade</td>
            <td>@item.MalaDeMao</td>
            <td>@item.MalaParaDespache</td>
            <td>@item.Preferencial</td>
            <td>@item.Email</td>
            <td>@item.Telefone</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPassageiro" class="btn btn-sm btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="@item.IdPassageiro" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdPassageiro" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
