@model VoeMais.Models.EmpresaAerea
@{
    ViewData["Title"] = "Detalhes";
}
<h2>@ViewData["Title"]</h2>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.IdEmpresa</dd>

    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>

    <dt class="col-sm-2">Telefone</dt>
    <dd class="col-sm-10">@Model.Telefone</dd>

    <dt class="col-sm-2">CNPJ</dt>
    <dd class="col-sm-10">@Model.Cnpj</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
