@model IEnumerable<VoeMais.Models.EmpresaAerea>
@{
    ViewData["Title"] = "Empresas Aéreas";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Empresa</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CNPJ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.IdEmpresa</td>
            <td>@e.Nome</td>
            <td>@e.Telefone</td>
            <td>@e.Cnpj</td>
            <td>
                <a asp-action="Details" asp-route-id="@e.IdEmpresa" class="btn btn-sm btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="@e.IdEmpresa" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@e.IdEmpresa" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
