@model VoeMais.Models.Aeroporto
@{
    ViewData["Title"] = "Excluir Aeroporto";
}
<h2>@ViewData["Title"]</h2>

<p>Tem certeza que deseja excluir este registro?</p>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.IdAeroporto</dd>

    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>

    <dt class="col-sm-2">Cidade</dt>
    <dd class="col-sm-10">@Model.Cidade</dd>

    <dt class="col-sm-2">Estado</dt>
    <dd class="col-sm-10">@Model.Estado</dd>

    <dt class="col-sm-2">Código IATA</dt>
    <dd class="col-sm-10">@Model.CodigoIATA</dd>


</dl>

<form asp-action="Delete" method="post">
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
