@model IEnumerable<VoeMais.Models.Aeroporto>
@{
    ViewData["Title"] = "Aeroporto - Lista";
}
<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create" class="btn btn-primary">Novo</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdAeroporto</th>
            <th>IdAeroporto</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CodigoIata</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.IdAeroporto</td>
            <td>@item.IdAeroporto</td>
            <td>@item.Nome</td>
            <td>@item.Cidade</td>
            <td>@item.Estado</td>
            <td>@item.CodigoIATA</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdAeroporto" class="btn btn-sm btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="@item.IdAeroporto" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdAeroporto" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
