@model IEnumerable<VoeMais.Models.Voo>
@{
    ViewData["Title"] = "Voo - Lista";
}
<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create" class="btn btn-primary">Novo</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdVoo</th>
            <th>IdVoo</th>
            <th>IdAeronave</th>
            <th>IdAeroportoOrigem</th>
            <th>Partida</th>
            <th>IdAeroportoDestino</th>
            <th>Chegada</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.IdVoo</td>
            <td>@item.IdVoo</td>
            <td>@item.IdAeronave</td>
            <td>@item.IdAeroportoOrigem</td>
            <td>@item.Partida</td>
            <td>@item.IdAeroportoDestino</td>
            <td>@item.Chegada</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdVoo" class="btn btn-sm btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="@item.IdVoo" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdVoo" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
